*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-align: center;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b9b9b9;
    flex-direction: column;
}

h1{
    color: white;
    margin: 20px;
    color: #444444;
text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}

.container{
    width: 1500px;
    height: 700px;
    margin: 100px;
} 

.img-comp-container {
    position: relative;
    height: 700px; 

  }
  
  .img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
  }
  
  .img-comp-img img {
    display: block;
  }
  
  .img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    width: 40px;
    height: 40px;
    background-color: #2196F3;
    opacity: 0.7;
    border-radius: 50%;
  }

.blockone{
    width: 500px;
}

.blockone img{
    width: 300px;
    height: 300px;
    animation: float 2.3s ease-in-out infinite;
}

.blocktwo{
    width: 500px;
}

.blocktwo img{
    width: 300px;
    height: 300px;
    animation: float 2s ease-in-out infinite;
}

.blockthree{
    width: 500px;
}

.blockthree img{
    width: 300px;
    height: 300px;
}

.first{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.second{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;

}

.pics img, .proof img{
    width: 300px;
    height: 300px;
    margin: 10px;
}

.pics, .proof{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

.heading{
    margin-bottom: 120px;
    font-size: 60px;
    margin-top: 100px;
    text-shadow: 2px 2px #ff0000;
}

.first img{
    filter: drop-shadow(4px 100px 29px rgba(0, 0, 0, 0.29));
}

iframe{
    margin-top: 100px;
    border: 5px solid gold;
}

.pics img:hover{
    transform: scale(1.5) rotate(300deg);
    transition-duration: 2s;
}

.work{
    margin: 150px;
}

footer{
    height: 20px;
    background-color: black;
    width: 100%;
    margin-top: 200px;
    color: white;
}

.back{
    width: 100%;
    height: 500px;
    background-color: black;
    position: absolute;
    z-index: -1;
    margin-bottom: 200px;
    top: 2220px;
}

.white{
    color: white;
}

.front{
    width: 100%;
    height: 500px;
    background-color: black;
    position: absolute;
    z-index: -1;
    top: 0px;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.save{
    margin: 150px;
}

.blockthree img:hover{
    transform: scale(1.3) rotate(280deg);
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.links{
    margin-top: 300px;
    display: flex;
    flex-direction: column;
}

a{
    margin: 20px;
    text-decoration: none;
}

#pic1{
    width: 290px;
    height: 460px;   
}

#pic2{
    width: 290px;
    height: 460px;   
}

#pic3{
    width: 600px;
    height: 600px;  
}

#pic4{
    width: 290px;
    height: 460px;  
}

#pic5{
    width: 290px;
    height: 350px;  
}

#pic6{
    width: 290px;
    height: 460px; 
}

.proof img{
    border: 5px solid gold;
}